# pr Config File
*** GENERAL ***
mojo_secret = d0duj3mfasdfasdfsf
log_file = /tmp/pr-tobi.log
localguide = /home/oetiker/checkouts/pearlreports/docs/LocalGuide.pod

*** FRONTEND ***
logo_large = /var/www/logo.png
title = PearlReports

*** REPORT: tobi1::First ***
reporter=Demo
title=Hello 1
header_pl=[qw(aber aber aber)]

*** REPORT: tobi2::Test ***
reporter=Demo
title=Hello 2
header_pl=[qw(aber aber aber)]

*** REPORT: tobi1::Split Page ***
reporter=Demo
title=Hello 3
header_pl=my $x = [qw(aber aber aber)]; push @$x, $D{master}; return $x

*** REPORT: tobi2::Split Page::22 ***
reporter=Demo
title=Hello 4
header_pl=[qw(aber aber aber)]
